{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}修改密码 - 运费计算系统{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>修改密码</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改密码</h3>
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">密码要求</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>密码长度必须在6-32个字符之间</li>
                    <li>建议使用字母、数字和特殊字符的组合</li>
                    <li>不要使用容易被猜到的密码</li>
                    <li>请妥善保管您的密码</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 